:root {
    --red: #ce0021;
    --light-red: #f35e77;
    --light-blue: #3da3e2;
    --dark-blue: #1757AE;
    --medium-blue: #125574;
    --orange: #f2994a;
    --light-orange: #faba81;
    --font-color: #333333;
    --font-family: "Roboto", sans-serif;
    --link-color: #0d3e89;
    --white: #fff;
}