.card {

    max-width: 440px;
    position: relative;
    width: 100%;
    background-color: rgb(255, 255, 255);
    margin-bottom: 30px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(169, 208, 226);
    border-image: initial;
    border-radius: 20px;
    padding: 30px;

    
    .default {
        background: #FFFFFF;
    }
    
  

}