.card-item {
    position: relative !important;
    &.grid-item {
        display: grid;
        grid-template-rows: auto 1fr auto 1fr;
        align-items:flex-start;
        height: 100%;
    }
}
.card-item1 {
    & img {
        position: absolute;
        right: 0%;
        object-fit: cover;
        height: 100%;
        margin-left: 15px;
    }
    padding: 30px;
    position: relative;
    background: #ffffff;
    border: 1px solid #e7d8ae;
    box-sizing: border-box;
    border-radius: 15px;
    padding-left: 46px;
    overflow: hidden;
}

@media screen and (min-width: 1250px) {

    .card-item1,
    .card-item2 {
        height: 100%;
    }

    .card-item1 {
        & img {
            // width: 50%;
        }
    }
}

@media screen and (min-width: 960px) {
    .card-item1 {
        & img {
            // width: 30%;
        }
    }

}
@media screen and (max-width: 960px) {
    .card-item1 {
        & img {
            display: none;
        }
    }

}

.card-date {
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    line-height: 40.5px;
    font-weight: 400;
    position: relative;
}

.card-date::after {
    position: absolute;
    left: -30px;
    top: 10px;
}

.card-name {
    margin-top: 18px;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    font-family: "Montserrat", sans-serif;
    z-index: 1;
}

.card-text {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    margin-top: 11px;
    font-size: 14px;
    line-height: 18.9px;
    max-width: 303px;
}

.card-all {
    margin-left: 30px;
}

.card-all a {
    color: var(--orange);
    font-size: 16px;
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    line-height: 19.2px;
}

.hidden-date {
    display: none;
}

@media (max-width: 1150px) {

    .card-item.card-item1,
    .card-item.card-item2 {
        width: 100%;
    }
}


@media screen and (max-width: 750px) {
    .card-item1 {
        background-image: none;
        padding: 20px;
        width: 100% !important;
        margin-bottom: 20px;
    }

    .card-item2 .right-block {
        padding: 20px;
    }
}

.mini-event-text {
    position: absolute;
    font-weight: 700;
    font-size: 11px;
    left: -10px;
    top: 30px;
    transform: rotate(270deg);
    color: #a77b2b;
}

@media screen and (max-width: 475px) {
    .mini-event-text {
        position: absolute;
        font-size: 11px;
        left: 294px;
        top: 10px;
        transform: rotate(0deg);
        color: #a77b2b;
    }

    .card-item1,
    .card-item2 {
        padding: 0;

        & button {
            width: max-content;
            height: 36px;
        }
    }

    .card-item1 {
        padding-left: 20px;
    }

}